.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body {
  display: flex;
  border-top: 10px grey double;
}

#newtodo {
  margin: auto;
}

#notodos {
  border: 2px solid grey;
  border-left: 10px double grey;
  border-right: 10px double grey;
  padding: 10px;
}

#todos {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#todoitem {
  width: 150px;
  flex-wrap: wrap;
  border: 3px solid black;
  padding: 10px;
  text-align: left;
  margin: 20px
}